<div *ngIf="!preload" class="ps-promotions">
  <div class="container">
    <div class="row">
      <div
        class="col-md-4 col-12"
        *ngFor="let banner of banner_default; let i = index"
      >
        <a class="ps-collection" routerLink="product/{{ url[i] }}">
          <img
            src="{{ path }}img/products/{{ category[i] }}/default/{{ banner }}"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</div>
<!-- End Home Promotions-->
<div *ngIf="preload" class="d-flex justify-content-center">
  <div class="spinner-border text-muted my-3"></div>
</div>
