.carousel-caption {
  position: absolute !important;
  right: 0% !important;
  bottom: 20px !important;
  left: 15% !important;
  z-index: 10 !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  text-align: left !important;
  color: black !important;
}

.azul {
  color: aqua !important;
}

.verde {
  color: green !important;
}

.carousel-control-prev-icon {
  background: #000 !important;
}

.carousel-control-prev-next {
  background: #000 !important;
}
