<ngb-carousel *ngIf="!preload">
  <ng-template ngbSlide *ngFor="let slide of banner_home; let i = index">
    <div class="picsum-img-wrapper">
      <img
        src="{{ path }}img/products/{{ category[i] }}/horizontal/{{
          slide['IMG tag']
        }}"
        alt="Random first slide"
      />
    </div>
    <div class="carousel-caption">
      <h4 class="azul">{{ slide["H4 tag"] }}</h4>
      <h3>
        {{ slide["H3-1 tag"] }} <br />

        {{ slide["H3-2 tag"] }} <br />
        <p>
          {{ slide["H3-3 tag"] }}
          <strong class="verde">{{ slide["H3-4s tag"] }}</strong>
        </p>
      </h3>
      <button class="ps-btn ps-btn--sm">
        <a routerLink="products/{{ url[i] }}">{{ slide["Button tag"] }}</a>
      </button>
    </div>
  </ng-template>
</ngb-carousel>
<!-- //PRELOAD -->
<div *ngIf="preload" class="d-flex justify-content-center">
  <div class="spinner-border text-muted my-3"></div>
</div>
